<p>Hello, {{name}}!</p>

<p>{{text}}</p>

<!--<p>Link:<a href="http://accountability-buddy.com">accountabilitybuddy.biz</a></p> -->
<p>Link: <a href="http://accountability-buddy.meteor.com">accountability-buddy.meteor.com</a></p>
<p>Love and Light,</p>

<p>Your Accountability Buddy</p>