<p>Hello, {{name}}!</p>

<p>{{text}}"<strong>{{title}}</strong>, is over due! Please contact your coach, or visit Accountability Buddy to change the status of your action item".</p>

<p>Link: <a href="http://accountabilitybuddy.biz">accountabilitybuddy.biz</a></p>

<p>Love and Light,</p>

<p>Your Accountability Buddy</p>

