<template name="aboutPage">
    <div>
        <header>
            <h1>Accountability Buddy</h1>
        </header>
        <div class="static-container">
            <p>Accountability Buddy is a mobile application to help you, the Life or Business Coach, and your clients
                move beyond the mundane task of accountability</p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check"></i>No longer do you need to feel like the nagging coach or lose track of who is doing what</li>
                <li><i class="fa-li fa fa-check"></i>Excellent customer care helps your clients blossom, helping you bridge the gap of where you clients
                    are now and where they want to go
                </li>
                <li><i class="fa-li fa fa-check"></i>Elevate your customer service by letting go of that one part of your job
                    that you dread...Accountability
                </li>
                <li><i class="fa-li fa fa-check"></i>Alleviate that uncomfortable call to your client when they didn't follow through with their assigned
                    task
                </li>
            </ul>
        </div>
    </div>
</template>