<template name="aboutPage">
    <div>
        <header>
            <h1>Accountability Buddy</h1>
        </header>
        <div class="static-container">
            <p>Accountability Buddy is a mobile application to help you, the Life or Business Coach, and your clients
                move beyond the mundane task of accountability</p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check"></i>No longer do you need to feel like the nagging coach or lose track of who is doing what</li>
                <li><i class="fa-li fa fa-check"></i>Excellent customer care helps your clients blossom, helping you bridge the gap of where you clients
                    are now and where they want to go
                </li>
                <li><i class="fa-li fa fa-check"></i>Elevate your customer service by letting go of that one part of your job
                    that you dread...Accountability
                </li>
                <li><i class="fa-li fa fa-check"></i>Alleviate that uncomfortable call to your client when they didn't follow through with their assigned
                    task
                </li>
            </ul>

            <h2>Instructions:</h2>

        {{#if currentUser.profile.isClient}}
            <h3>For Clients</h3>
            <ul>
                <li>After logging in, you'll see a list of your sessions. Tapping on a session title will expand to show the current action items your coach has assigned for this session</li>
                <li>Tapping the action item title will show the details of the assigned action</li>
                <li>The date at top right is the due date for this action. If an item is over-due, it will be marked in red</li>
                <li>Use the dropdown selection to set a status for this action. Your coach will be notified when you tap 'Save'</li>
            </ul>
            {{else}}
            <h3>For Coaches</h3>
            <ul>
                <li>Tap 'New' to add a new client</li>
                <li>'Active' number shows how many active clients you have</li>
                <li>Tapping on 'Active' or 'Inactive' will show you a list of your clients that are active or inactive</li>
                <li>Tap a client's name to create a new session, action item or edit their profile</li>
                <li> Tap the session title to see the actions assigned for this session</li>
                <li>Once you've added a new session, tap the green plus sign to the right of the session title to add a new action to this session</li>
                <li>If a client has set a status on one of their assigned action items, you will see a bell at the top of the screen with a number. This represents how many clients have action items that need your attention. Tapping the bell will take you to your Alerts screen with a list of the clients that need attention</li>
            </ul>
            {{/if}}
            <p>If you need help, need to report an issue or have an idea for a new feature or enhancement, please go to <a href="http://support.accountabilitybuddy.biz">Accountability Buddy Support</a>.</p>
        </div>
        <div class="footer-text">
            <small>&copy; 2015 <a href="http://gotocoach.net">GreenMountain Enrichment and Empowerment Center</a>. Development: <a href="http://rainworldinteractive.com">RainWorld Interactive</a></small>
        </div>
    </div>
</template>