<template name="aboutPage">
    <div>
        <header>
            <h1>Accountability Buddy</h1>
        </header>
        <div class="static-container">
            <p>Accountability Buddy is a mobile application to help you, the Life or Business Coach, and your clients
                move beyond the mundane task of accountability</p>
            <ul class="fa-ul">
                <li><i class="fa-li fa fa-check"></i>No longer do you need to feel like the nagging coach or lose track of who is doing what</li>
                <li><i class="fa-li fa fa-check"></i>Excellent customer care helps your clients blossom, helping you bridge the gap of where you clients
                    are now and where they want to go
                </li>
                <li><i class="fa-li fa fa-check"></i>Elevate your customer service by letting go of that one part of your job
                    that you dread...Accountability
                </li>
                <li><i class="fa-li fa fa-check"></i>Alleviate that uncomfortable call to your client when they didn't follow through with their assigned
                    task
                </li>
            </ul>

            Instruction:
            For Coaches:
            Tap 'New' to add a new client.
            'Active' number shows how many active clients you have.
            'Inactive' number shows how many inactive clients you have.
            Tapping on 'Active' or 'Inactive' will show you a list of your clients that are active or inactive.
            Tap a client's name to create a new session, action item or edit their profile.
            Tap the session title to see the actions assigned for this session.
            Once you've added a new session, tap the green plus sign to the right of the session title to add a new action to this session.
            If a client has set a status on one of their assigned action items, you will see a bell at the top of the screen with a number. This represents how many clients have action items that need your attention. Clicking the bell will take you to your Alerts screen with a list of the clients that need attention

        </div>
        <small style="color: #fff; margin-bottom: .5em;margin-left: 20px;">&copy; 2015 <a href="http://gotoach.net">GreenMountain Enrichment and Empowerment Center</a></small><small style="color: #fff; margin-bottom: .5em;margin-left: 20px;">Development: <a href="http://rainworldinteractive.com">RainWorld Interactive</a></small>
    </div>
</template>