
/*.container-full {*/
    /*margin: 0 auto;*/
    /*width: 100%;*/
/*}*/

/* General */
body {
    background: url('frog-blur.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

* {-webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
}
*:focus {
    outline-color: transparent;
    outline-style: none;
}
/* Typography */

body{
    line-height: 1.25em;
    font-family: 'Open Sans',sans-serif;
    padding-top: 70px;
}

header h1, header h2 {
    color: #fff;
}

h1, .login-title {
    font-size: 2em;
    line-height: 1.25em;
    font-family: 'Raleway';
    color: #fff;
    letter-spacing: 3px;
}

h1.client-title {
    font-size: 1.2em;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615em;
    letter-spacing: 2px;
}

h3 {
    font-size: 1.375em;
    line-height: 1.13636364em;
}

p, ul {
    color: #fff;
}

.static-container {
    line-height: 1.5em;
    padding: 0 10px;
}

.static-container,.static-container p {
    font-size: 1em;
    margin-bottom: 2em;
}

.static-container li {
    margin-bottom: 1em;
}

.static-container .fa-li {
    color: #4cae4c;
}

.client-title {
    color: #fff;
    font-weight: bold;
}

.info {
    font-size: .8em;
    color: #fff;
}

/* Layout */

section {
    position: relative;
}

section header {
    margin-bottom: 2em;
    text-align: center;
}

.container.container-full {
    /*padding-top: 90px;*/
}

.container, .container-full {
    padding-bottom: 6em;

}

.edit-create-btns {
    text-align: center;
    margin: 1.3em 0 2em 0;
}

.navButtonGroup {
    float:right;
    margin-right: 20px;
    margin-top: 8px;
}

.createAction {
    float: right;
}

.sessionDelete, .sessionEdit {
    float: left;
    margin: 0 5px 0 10px;
    display: none;
}

.sessionEdit {
    margin-right: 0;
}

.clientRow {
    cursor: pointer;
    height: 60px;
    border-right: none;
    border-left: none;
    margin-bottom: .5em;
    background: rgba(0,0,0,0.3) !important;
    text-align: left;
}

.clientRow:active,.clientRow:focus {
    background: #fff !important;
}

.client-title {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
    text-align: center;
    background: rgba(0,0,0,0.4);
}


.itemStatus {
    display: none;
}

.clientActionText {
    padding-left: 30px;
    width: 65%;
    display: inline-block;
}

.actionDescriptionStatus {
    line-height: 1.5em;
    padding: 0 30px 10px 30px;
    display: none;
}

/* Alerts */
.client .actionList {
    display: none;
}

.alertNumber {
    background: #fff;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #355D93;
    display: inline-block;
    font-weight: bold;
    line-height: 1.45em;
    margin-right: 5px;
    text-align: center;
    width: 1.8em;
}

.title-alert-count {
    font-size: .8em;
}

/*inactiveclient*/
.inactive {
    background: #d4d4d4;
    opacity: .5;
}
.due-date-client.past-due {
    color: #d9534f;
}

.past-due::before {
    font-family: "FontAwesome";
    font-size: 1em;
    content: "\f06a";
    padding-right: 5px;
}
.due-date-client {
    font-weight: bold;
    float: right;
    margin-right: 15px;
    padding: 0;
}

/* Buttons */
.btn-title {
    text-align: left;
    color: #fff;
}

.btn {
    border-radius: 0;
    color: #fff;
}

.btn:active,.btn:focus {
    box-shadow: none;
}

.btn-primary, .sessionItem.btn-primary:focus, .sessionItem.btn-primary:hover {
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.btn-primary:active,.btn-primary:focus {
    background: #fff;
    color: #000;
    box-shadow: none;
    border-color: #fff;
}

.btn-success, .btn-default {
    background: transparent;
}

.btn-success:active,.btn-primary.createAction:active {
    /*background: #4cae4c;*/
    background: rgba(76, 174, 76,0.8);
    color: #fff;
}

.btn-primary.createAction:active .fa-plus {
    color: #fff;
}

.btn-primary.createAction {
    border-color: #4cae4c;
}

.btn-default {
    border-color: #fff;
}

.btn-default:active {
    /*background: #fff;*/
    background:rgba(255, 255, 255,0.8);
    border-color: #fff;
}

.btn-primary.createSession {
    border-left: none;
}

.btn-danger {
    background: transparent;
}

.btn-danger:active {
    /*background: #d9534f;*/
    background-color: rgba(217, 83, 79,0.8);
    box-shadow: none;
}

.btn-danger .fa-times {
     color:#d9534f;
}

.btn-danger:active .fa-times {
    color:#fff;
}

.fa-plus {
   color: #4cae4c;
}

.btn-warning, .btn-warning:disabled {
    background: transparent;
}

.btn-warning.active,.btn-warning:focus {
    /*background: #eea236;*/
    background: rgba(236, 151, 31,0.8);
    color: #fff;
    box-shadow: none;
}

.sessionEdit:active .glyphicon-pencil,
.sessionEdit:focus .glyphicon-pencil {
    color: #fff;
}

.showDeleteBtn,.showEditBtn {
    font-size: 0.9em;
}

.modal-footer .btn-primary {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.modal-footer .btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.glyphicon-pencil {
    color: #eea236;
}

.showEditBtn {
    border-left: none;
}

/* Error Styles */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    /* color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6; */
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    /*background-color: #F2DEDE;*/
    background: transparent;
    border: none;
    border-bottom: 1px solid #d9534f;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    line-height: 0.9em;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    padding: 3px;
    color: #fff;
    background: #B94A48;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

.right {
    float: right;
}


/* Navigation */
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
        text-align: center;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background: transparent;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 2em;
        line-height: 2em;
        font-family: 'Raleway';
        font-weight: bold;
        color: #fff;
        letter-spacing: 3px;
    }
    .collapse.in{
        display:block !important;
    }
}

/* Header */

.navbar-inverse .navbar-nav > li > a:active {
    background: #fff;
    color: #9d9d9d;
}



.navbar-back {
    float: left;
    height: 51px;
    /* padding: 15px; */
    font-size: 3em;
    color: #fff;
    width: 57px;
    /* margin-top: 5px; */
    padding-top: 4px;
}

a.navbar-back:active i,a.navbar-back:focus i {
    color: #fff;
}

#header-nav .alertNumber {
    background: #d43f3a;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.45em;
    margin-right: 5px;
    text-align: center;
    width: 1.45em;
    position: relative;
    left: 38px;
    display: inline-block;
    z-index: 2;
    top: -16px;
    font-size: .8em;
}

#header-nav {
    background: #1F1F1F;
}

.header-alert {
    margin-top: 5px;
    color: #fff;
}

.header-alert:active,.header-alert:focus {
    color: #fff;
}

.header-alert .fa-bell {
    font-size: 2em;
    margin-top: 11px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #333;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    border: none;
}

/* Footer */

#footer-nav {
    min-height: 0;
    /*border-top: 1px solid #fff;*/
    /*border-bottom: 1px solid #fff;*/
    background: transparent;
}

#footer-nav.navbar-fixed-bottom {
    border: none;
}

#footer-nav .alertNumber {
    color: #000;
}

#footer-nav .btn-group {
background: rgba(0,0,0,0.7);
}

#footer-nav .btn {
    height: 50px;
    line-height: 27px;
    color: #fff;
    border-radius:0;
    background: #1f1f1f;
    letter-spacing: 1px;

}

#footer-nav .footer-middle {
    /*border-left: 1px solid;*/
    /*border-right: 1px solid;*/
}

#footer-nav .btn:active {
    background: #fff;
    color: #000;
}

#footer-nav .btn.active,#footer-nav .btn:active {
    box-shadow: none;
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
    text-align: center:
    font-weight: bold;
}

.close {
    display: none;

}

/* Forms */

select option {
    background-color: #fff;
    color: #2f4f4f;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0;
    box-shadow: none;
}

.status-container select, .statusSelect select,select.isActive {
    border: 1px solid #fff;
    border-radius: 0;
    margin: .5em 0;
}

label {
    color: #fff;
    /*font-style: italic;*/
}

input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder{
    color: #faebd7;
    opacity: 0.5;
}

/* login */
.profile-img {
    display: none;
}

.account-wall {
    background: none;
    box-shadow: none;
}

#new-account, #forgot-password {
    color: #fff;
    padding: 10px 16px;
    /*width: 50%;*/
    display: inline-block;
    font-size: 0.95em;
}

#new-account:active, #forgot-password:active {
    background: #fff;
    color: #000;
    border-color: #fff;
}

#new-account {
    float: left;
    border-right: none;
}

#forgot-password {
    float: right;
}

/* Collapse List */

p {
    font-size: .8em;
    margin-left: 7px;
}

#accordion .panel-title > a {
    text-align: left;
    /*margin-left: 10px;*/
    border: none;
    display: block;
    text-decoration: none;
    width: 90%;
}

#accordion .panel-title > a:active,
#accordion .panel-title > a:focus {
    background: transparent;
    outline: none;
    color: #fff;
}

.sessionItem {
    margin-left: 10px;
}

.clientActionText,.due-date-client {
    color: #fff;
}

.due-date-client {
    margin-right: 25px;
}

.inlineDeleteActionBtn {
    /*margin-left: -4px;*/
    float: right;
    margin-right: 20px;
    margin-top: 11px;
}

.panel-title.col-xs-9 {
    padding: 0;
}

.panel, .panel-default, .panel-heading {
    border-radius: 0;
    background: transparent;
    border-color: #fff;
    box-shadow: none;
}

.panel-body {
    padding: 0;
}

.panel-default > .panel-heading {
    color: #fff;
    background: transparent;
    border-color: #fff;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding: 10px 5px 10px 10px;
}

.panel-group .panel {
    border-radius: 0;
    border-left: none;
    border-right: none;
    background: rgba(0,0,0, 0.3);
}

.panel-group .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}

.actionRow:hover {
    cursor: pointer;
}

.actionRow  {
    padding: 0 15px 0 15px;
}

.actionRow .col-xs-10 {
    /*margin-left: -7px;*/
}

.actionContainer {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.actionRow {
    background: rgba(255,255,255, 0.2);
    line-height: 4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-left: 7px;
    padding-right: 0;
    margin-bottom: .5em;
}

.actionRow:last-child {
    border-bottom: none;
}

.actionText {
    padding-left: 35px;
    display: block;
    color: #fff;
}

.deleteActionBtn {
    float: right;
    margin-top: 10px;
    margin-right: 15px;
}

.navbar-back .goback:focus,.navbar-back .goback:active {
    color: #fff;
}

/* Coach Alert Lists */
.client-alert-title,.client-alert-title:focus {
    border-left: none;
    border-right: none;
    background: rgba(0,0,0,0.3);
    color: #fff;
}


.action.list-group-item {
    background: rgba(255,255,255, 0.2);
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.5);
    border-radius: 0;
}

.action.list-group-item p {
    font-size: 1em;
}

.action.list-group-item p:first-child {
    line-height: 2.2em;
}

/* Profile */
.profile-container p{
    font-size: 1em;
}

.white-box {
    padding: 30px;
    background: rgba(255,255,255, 0.2);
    margin-bottom: 2em;
    line-height: 2em;
}

/* Misc */

.no-alerts, .no-inactive, .no-sessions {
    color: #fff;
    margin: 20% auto 0 auto;
    font-family: 'Raleway';
    font-size: 2em;
    text-align: center;
}

.no-sessions {
    font-size: 1.5em;
    list-height: 1.5em;
}

.no-alerts i,.no-inactive i, .no-sessions i {
    font-size: 2em;
    margin-bottom: 1em;
    color: #fff;
}

canvas {
    cursor: crosshair;
    display: block;
}

.congrats-head {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -133px;
}

@media (min-width: 768px) {
    .col-sm-6 {
        width: 100%;
    }
    .client-alert-title {
        font-size: 2em;
    }
    .btn-large {
        height: 60px;
        font-size: 1.5em;
    }
    .btn-title {
        font-size: 2em !important;
    }
    h1 {
        font-size: 3em;
    }
    h1.client-title {
        font-size: 3em;
    }
    h2 {
        font-size: 2.2em;
    }
    label, input[type="text"],input[type="tel"], textarea.form-control, select, input[type="email"], input[type="date"] {
        font-size: 2em;
    }
    .form-control {
        height: 65px;
    }
    #footer-nav .btn {
        height: 60px;
        line-height: 44px;
        color: #fff;
        border-radius: 0;
        background: #1f1f1f;
        letter-spacing: 1px;
        margin: 0;
        font-size: 1.2em;
    }
    .navbar-toggle .icon-bar {
        display: block;
        width: 40px;
        height: 6px;
        border-radius: 1px;
    }
}