<template name="clientProfile">
    {{#if currentUser}}
        <div>
            <div class="row">
                <div>
                    {{> clientName}}
                </div>
            </div>
            <div class="row edit-create-btns">
                <div class="btn-group btn-group-justified btn-large" role="group" data-toggle="buttons">
                    <div class="btn-group">
                        <a class="btn btn-warning btn-block editClient" data="{{clientEditBtn}}" role="button">Edit
                            Client</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-success btn-block createSession" href="{{pathFor 'createSession'}}">Create a
                            New Session</a>
                    </div>
                </div>
            </div>
            {{#if sessions}}
                <p>Tap session title to expand</p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    {{#each sessions}}
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <div class="row">
                                    <button class="btn btn-danger sessionDelete" data="{{this._id}}"><i
                                            class="fa fa-times"></i></button>
                                    <button class="btn btn-warning sessionEdit" data="{{this._id}}"><span class="glyphicon glyphicon-pencil"></span></button>
                                    <h4 class="panel-title col-xs-9">
                                        <a class="collapsed sessionItem btn btn-primary btn-large"
                                           data-toggle="collapse" role="button" data-parent="#accordion"
                                           href="#collapse-{{inc}}" aria-expanded="true"
                                           aria-controls="collapse-{{inc}}">
                                            {{title}}
                                        </a>
                                    </h4>

                                    <div class="col-xs-1 pull-right">
                                        <a class="btn btn-primary createAction" data="{{this._id}}" role="button">
                                            <i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse-{{inc}}" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="heading-{{inc}}">
                                <div class="panel-body">
                                    <ul class="actionContainer">
                                        {{#each actionItem}}
                                            {{#if actionItem}}
                                                <li class="actionRow">
                                                    <div class="row">
                                                        <div class="col-xs-10">
                                                            <span class="actionText">{{title}}</span>
                                                        </div>
                                                        <button class="btn btn-danger inlineDeleteActionBtn"
                                                                data="{{this._id}}"><i class="fa fa-times"></i>
                                                        </button>
                                                    </div>
                                                </li>
                                            {{/if}}
                                        {{else}}
                                            <li style="color: #fff; padding: 0 0 0.5em 20px;font-size: 0.8em;">There are no Action Items for this Session</li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{#if sessions}}
                    <div class="btn-group btn-group-justified btn-large" role="group" data-toggle="buttons">
                        <div class="btn-group">
                            <button class="btn btn-warning showDeleteBtn">{{sessionDeleteBtn}}</button>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-warning showEditBtn">{{sessionEditBtn}}</button>
                        </div>
                    </div>
                {{/if}}
            {{else}}
                <div class="no-sessions">
                    <i class="fa fa-cubes"></i>
                    <p>There are no Sessions for this client</p>
                </div>
            {{/if}}


            <!-- Just for client thats logged in -->
            {{#if currentUser.profile.isClient}}
                i'm a client
            {{/if}}
        </div>
    {{/if}}
</template>
